<h1> Restaurants listing page </h1>
<%= image_tag 'foodyimages/restaurant.jpg',width:'500px',height:'300px'%>

<%= render 'restaurant' %>
<p><%= link_to 'menus',menus_path %></p>
<p><%= link_to 'back',root_path %></p>
